@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 在你的全局CSS文件，例如 comm.css */

body {
  background: transparent; /* 改为透明，让div的背景图片显示 */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.foot{
  color: hsla(0, 0%, 0%, 0.8);
  margin-left: 10px;

}
.foot:hover{
  color: rgb(51, 226, 51);
}
.foot-contain{
  margin-right: 20px;
}
.button{
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgb(23, 23, 23);
  width: 55px;
  height: 42px;
  color: #ffffff;
  font-weight: bold;
}

.button:hover{
  background-color: rgb(53, 53, 53);
}


input{
  border-radius: 10px;
  border:royalblue 3px solid;
  color: #0a0a0a;
  font-size: medium;
  padding: 0 0 0 10px;
}